/* RECIPE STYLES */
/* -- layout styles */
.recipe-details.main {
    height: 100%;
    position: relative;
}

.recipe-details.section {
}

.recipe-details.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}

.recipe-details.box.image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.recipe-details.box.image.hidden {
    display: none;
}

/* Gradient Over Image */
.recipe-details.box.image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.03962703962703962) 0%, rgba(255,255,255,0.337995337995338) 35%, rgba(51,51,51,0.12121212121212122) 55%, rgba(0,0,0,0.5011655011655012) 100%);
}

.recipe-details.box.info {
    color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(255,255,255);
}

.recipe-details.box.info.full {
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: calc(100vh - 67.34px);
}

.recipe-details.box > .container.details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.hidden {
    display: none !important;
}

.container.ingredients.active,
.container.recipe.active {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    overflow: hidden;
    background-color: #fff;
}

.container.active > .wrapper.content {
    width: 100%;
    height: 75vh;
    padding-bottom: 1.333rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.container.active > .wrapper.title {
    padding-bottom: 1rem;
}

.container.active > .wrapper.title > h5 {
    margin: 0;
}

.item.ingredient {
    flex: 1;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item.ingredient > .check {
    height: 1.333rem;
    width: 1.333rem;
    border: 1px solid #333;
    border-radius: 1px;
}

.item.ingredient:hover > .check {
    background-color: #ccc;
}

.item.ingredient > .text.ingredient {
    padding-left: 0.75rem;
}

.text.ingredient > p {
    margin: 0;
}

.container.recipe.active {

}

.recipe-details.box > .container.details > .wrapper,
.recipe-details.sidebar > .wrapper {
    flex: 1;
    display: flex;
}

.recipe-details.box > .container.details > .wrapper.time {
    text-align: center;
    justify-content: space-evenly;
}

.recipe-details.box > .container.details > .wrapper.servings {
    justify-content: center;
    align-items: center;
    /* min-height: 50px; */
    margin-top: 1.777rem;
}

.wrapper > .equal-item {
    flex: 1;
}

.wrapper.time > .time-item > .wrapper.top > small  {
    font-size: 1.11333rem;
}

.wrapper.time > .time-item > .wrapper.bottom > p  {
    margin: 0;
    padding: 0;
}

.wrapper.servings > .box {
    width: 20%;
    text-align: center;
}

.wrapper.servings > .box.icon > i {
    font-size: 2.369rem;
}

.recipe-details.box > .container.details > .wrapper > .box.content > .text > p {
    margin: 0;
    padding: 0;
}

.wrapper.buttons {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #222;
}

.wrapper.buttons > .link {
    position: relative;
    height: 100%;
}

.wrapper.buttons > .link:hover {
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}

.wrapper.buttons > .link > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #eee;
}

/* ---- active button */
.wrapper.buttons > .link.active {
    background-color: #fff;
}

.wrapper.buttons > .link.active > a {
    color: #222;
}

/* -- image styles */
img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 0 -50px;
}

/* -- text styles */
.container.title > .text-el {
    color: #333;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
}

.recipe-details.box > .container.details > .wrapper > .box.title > .text-el {
    margin: 0;
    padding: 0;
}